/books
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
*.sqlite3
.DS_Store
.ipynb_checkpoints
*.log
*.pot
*.mo
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.coverage
.coverage.*
.cache
.mypy_cache/
.pytest_cache/
.tox/
.idea/
.vscode/
*.orig
